* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Poppins, Sans-serif;
    line-height: 1.5rem;
}
body{
    background-color: #fff;
    min-height: 100vh;
    min-height: 100dvh;
}
.content-container {
    display: grid;
    grid-template-columns: auto 1fr;
}
.container {
    background-color: #fff;
}
.head{
    line-height: 2.5rem;
    border-bottom: 2px solid #f9f9f9;
    padding: 20px;
    padding-left: 3rem;
}
.head h1{
    font-weight: 500;
}
.head .head_nav{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 17px;
}
.head_nav a{
    text-decoration: none;
    color: #4379F2;
    cursor: pointer;
}
.head_nav a:hover{
    text-decoration: underline;
}
.head_nav p{
    color: #777777;
}
.nav_icon{
    width: 1.5em;
}
.nav_links{
    padding: 18px 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    gap: 4rem;
}
.nav_links a{
    color: #777777;
    text-decoration: none;
}
.nav_links a.active{
    color: #4379F2;
    border-bottom: 1px solid #4379F2;
}
.nav_links a:hover{
    color: #4379F2;
    border-bottom: 1px solid #4379F2;
}
.action_icon{
    width: 1.5em;
}
.table_actions{
    padding: 20px;
    display: flex;
    margin-top: 10px;
}
.left .search{
    margin-left: 13%;
    position: relative;
    width: 100%;
}
.left .search input{
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #c0c0c0;
    padding-right: 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.search .action_icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    cursor: pointer;
}
.search input:focus {
    border-color: #4379F2;
    outline: #4379F2;
} 
#projects {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5%;
    max-width: 1536px;
    margin-left: 3%;
    margin-top: .5%;
    border-radius: 15px;
    overflow: hidden;
    table-layout: fixed;
}
#projects-head {
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#projects th {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    padding: 20px;
    width: 10%;
}
#projects td{
    padding: 25px;
    text-align: center;
}
#projects td .viewModal{
    background-color: #4379F2;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #4379F2;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.1s ease-in-out;
    font-size: 15px;
}
#projects td .viewModal:hover{
    background-color: transparent;
    color: #4379F2;
    border: 1px solid #4379F2;
    cursor: pointer;
}
.progress {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 20px;
    height: 45px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.progress-fill {
    background-color: #4379F2;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    transition: width 0.3s ease;
}
.progress-percentage {
    position: absolute;
    left: 10px;
    color: #fff;
    z-index: 1;
}
.projectDetailsModal {
    display: none;
    position: fixed; 
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.projectDetailsModal .modal-content {
    background-color: #fff;
    padding: 25px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 50%;
    max-height: 90vh;
    overflow-y: auto;
}
.detailsbtns {
    width: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5%;
}
.detailsbtns .save_btn {
    width: 50%;
    padding: 13px;
    background-color: #5CB85C;
    border: 1px solid #5CB85C;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    display: none;
}
.detailsbtns .unmark_btn {
    width: 50%;
    padding: 13px;
    background-color: #FF6961;
    border: 1px solid #FF6961;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
}
.detailsbtns .save_btn:hover {
    background-color: #48a448;
}
.detailsbtns .unmark_btn:hover {
    background-color: #fa544b;
}
.modal-content::-webkit-scrollbar {
    width: 12px;
}
.modal-content::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
}
.modal-content::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px; 
}
.modal-content::-webkit-scrollbar-thumb:hover {
    background: #777777; 
}
.projectDetails_head{
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 1%;
    border-bottom: 3px solid #f9f9f9;
}
.left_head{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.left_head .projectHead_img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.left_head .addimg{
    width: 100%;
    height: auto;
}
.head_text{
    line-height: 1.5;
}
.head_title{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.head_title .task_status{
    display: flex;
    align-items: center;
    gap: 8px;
}
.head_text h2{
    font-weight: 500;
}
.close {
    color: #777;
    float: right;
    font-size: 40px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.info_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    border-bottom: 3px solid #f9f9f9;
    width: 100%;
}
.info_box .info_title{
    margin-top: .5%;
}
.info_box h4{
    font-size: 19px;
    font-weight: 500;
}
.info_box .info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    row-gap: 1.5rem;
    column-gap: 3rem;
}
.info_box .two-column {
    grid-column: span 2;
}
.info .info_group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info_group label, .info_group span{
    font-size: 14px;
    color: #333;
}
.info_group input, .info_group select{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    color: #333;
}
.info_group textarea{
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #333;
}
.timeframe_btns{
    display: flex;
    gap: 5rem;
    align-items: center;
    align-items: end;
}
.timeframe_left{
    display: flex;
    flex-direction: column;
}
.timeframe_btn{
    padding: 15px;
    width: 150px; 
    background-color: #4379F2;
    border: 1px solid #4379F2;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.downloadbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #4379F2;
    border: 1px solid #4379F2;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.1s ease-in-out;
    text-decoration: none;
    color: #fff;
    width: 150px; 
    padding: 13px;
}
.downloadbtn:hover,
.timeframe_btn:hover{
    background-color: #0f4eda;
}
.downloadbtn .download{
    width: 15%;
}
#imageModal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
#imageModal .modal-content {
    margin: 0 auto;
    width: 80%;
    max-width: 800px; 
    text-align: center;
}
#imageModal .modal-content img {
    max-width: 100%;
    max-height: 90vh;
}
#personnels,
#resources{
    border-collapse: collapse;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 1.5%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#personnels thead, #personnels tbody tr,
#resources thead, #resources tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#personnels thead,
#resources thead{
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);
    z-index: 1; 
    position: relative;
}
#personnels th,
#resources th{
    text-align: center; 
    font-size: 15px;
    font-weight: 600;
    color: #333;
    padding: 15px;
    width: 15%;
    background-color: #fff; 
}
#personnels tr:nth-child(odd),
#resources tr:nth-child(odd){
    background-color: #f9f9f9;
}
#personnels tbody,
#resources tbody{
    display: block;
    max-height: 200px;
    overflow-y: auto;
}
#personnels td,
#resources td{
    padding: 20px;
    text-align: center;
    width: 15%;
    font-size: 13px;
    position: relative;
}
#resources td .updatebtn{
    padding: 8px 11px;
    font-size: 13px;
    color: #4379F2;
    background-color: #fff;
    border: 1px solid #4379F2;
    border-radius: 8px;
    transition: 0.1s ease-in-out;
}
.updatebtn:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.resources_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resources_head .addbtn{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #4379F2;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.1s ease-in-out;
    text-decoration: none;
    color: #4379F2;
    width: 175px;
}
.addbtn .addBtnimg{
    width: 22px;
}
.addbtn span{
    font-size: 16px;
}
.addbtn:hover{
    background-color: #f9f9f9;
}
.addModal,
.updateModal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.addModal .modal-content,
.updateModal .modal-content{
    background-color: #fff;
    padding: 25px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 40%;
    max-height: 90vh;
    overflow-y: auto;
}
.addModal_head,
.updateModal_head{
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 3%;
}
.addModal_head::after,
.updateModal_head::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #f9f9f9;
}
.left_addModal_head,
.left_updateModal_head{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.left_addModal_head .modalAdd_icon,
.left_updateModal_head .updateModal_icon{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.modalAdd_icon .material-symbols-outlined,
.updateModal_icon .material-symbols-outlined{
    font-size: 35px;
    color: #333 !important;
}
.addModal_head_text,
.updateModal_head_text{
    line-height: 1.5;
}
.addModal_head_text h2,
.updateModal_head_text h2{
    font-weight: 500;
}
.addModal_head_text p,
.updateModal_head_text p{
    color: #777777;
}
#addResourcesForm,
#updateResourceForm{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    row-gap: 1rem;
    column-gap: 1.5rem;
}
#addResourcesForm .addResource_form_group,
#updateResourceForm .updateResource_form_group{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.two-column{
    grid-column: span 2;
}
#addResourcesForm label,
#updateResourceForm label{
    font-size: 14px;
    color: #333;
}
#addResourcesForm input, #addResourcesForm select,
#updateResourceForm input, #updateResourceForm select{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    color: #333;
}
.action_btns{
    display: flex;
    justify-content: end;
    gap: 1rem;
    position: relative;
    margin-top: 2%;
}
#addResourcesForm .action_btn button,
.action_btns .submit, .action_btns .delete{
    margin-top: 2%;
    width: 25%;
    padding: 13px;
    background-color: #4379F2;
    border: 1px solid #4379F2;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}
#addResourcesForm .action_btns button:hover,
#updateResourceForm .action_btns .submit:hover{
    background-color: #0f4eda;
}
#updateResourceForm .action_btns .delete:hover{
    background-color: #ef1717;
}
.action_btns .delete{
    background-color: #f24343ec;
    border: 1px solid #f24343ec;
}
.action_btns::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #f9f9f9;
}
.not_started {
    color: #B0B0B0;
}
.initial {
    color: #85C8FF;
}
.in_progress {
    color: #6FCF97;
}
.midway {
    color: #FFCF67;
}
.near_complete {
    color: #FF9E9E;
}
.completed {
    color: #7DD181;
}
.onhold{
    color: #333;
}
.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.status-not_started{
    background-color: #B0B0B0;
}
.status-initial{
    background-color: #85C8FF;
}
.status-in_progress{
    background-color: #6FCF97;
}
.status-midway{
    background-color: #FFCF67;
}
.status-near_complete{
    background-color: #FF9E9E;
}
.status-completed{
    background-color: #7DD181;
}
.status-onhold{
    background-color: #333;
}
.not_started-text{
    color: #B0B0B0;
}
.initial-text{
    color: #85C8FF;
}
.in_progress-text{
    color: #6FCF97;
}
.midway-text{
    color: #FFCF67;
}
.near_complete-text{
    color: #FF9E9E;
}
.completed-text{
    color: #7DD181;
}
.onhold-text{
    color: #333;
}
