{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/foreman/foreman_attendance.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">
        <title>Attendance Table</title>
    </head>
    <body>
        <div class="content-container">
            {% include 'foreman/sidebar.html' %}
            <div class="main container">
                <header>
                    <div class="head">
                        <div class="head_nav">
                            <p>Worker</p>
                            <img src="{% static 'icons/next.png' %}" class="nav_icon">
                            <a href="{% url 'foreman_attendance' %}">Attendance Log</a>
                        </div>
                        <h1>Worker Attendance</h1>
                    </div>
                    <nav class="nav_links">
                        <a href="{% url 'foreman_attendance' %}">Attendance Log</a>
                        <a href="{% url 'QRcamera' %}">QR Camera</a>
                    </nav>  
                </header>
                <div class="table_actions">
                    <div class="left">
                        <div class="search">
                            <input type="text" placeholder="Search Worker" id="search">
                            <img src="{% static 'icons/search.png' %}" class="action_icon">
                        </div>
                    </div>
                    <!--
                    <div class="right">
                        <div class="filter_box">
                            <label for="projects">Project Filter</label>
                            <select name="projects" id="projects">
                                <option value="" selected>All</option>
                                {% for project in filtered_projects %}
                                    <option value="{{ project.project_id }}">{{ project.project_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    -->
                </div>
                <section class="workers_table">
                    <table id="workers">
                        <thead id="workers-head">
                            <tr>
                                <th></th>
                                <th>Worker</th>
                                <th>Project</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="workers-body">
                            {% if workers_with_attendance %}
                                {% for worker in workers_with_attendance %}
                                <tr class="table_row">
                                    <td class="count">{{ forloop.counter }}</td>
                                    <td class="worker_profile">
                                        <img src="{{ worker.account_id.image.url }}" class="profile">
                                        <div class="profile-details">
                                            <h4>
                                                {% if worker.first_name != 'Not Provided' %}
                                                    {{ worker.first_name }}
                                                {% endif %}
                                                {% if worker.last_name != 'Not Provided' %}
                                                    {{ worker.last_name }}
                                                {% endif %}
                                                {% if worker.first_name == 'Not Provided' and worker.last_name == 'Not Provided' %}
                                                    Not Provided
                                                {% endif %}
                                            </h4>
                                            <span>{{ worker.contact }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        {% for attendance in worker.filtered_attendances %}
                                            {{ attendance.project_id.project_name }}
                                        {% endfor %}
                                    </td>
                                    <td><button class="view_btn" data-worker-id="{{ worker.worker_id }}">View</button></td>
                                </tr>
                                {% endfor %}
                            {% else %}
                            <tr><td colspan="4" class="empty">No attendance recorded from the project yet.</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>

        <div id="workerModal" class="modal">
            <div class="modal-content">
                <div class="taskModal_head">
                    <span class="close closeModal">&times;</span>
                    <div class="left_head">
                        <div class="taskHead_img">
                            <img src="{% static 'icons/attendance_calendar.png' %}" class="addimg">
                        </div>
                        <div class="head_text">
                            <h2>View Attendance</h2>
                            <p>Track your workers' attendance records.</p>
                        </div>
                    </div>
                </div>
                <div class="attendance_container">
                    <h4 id="workerName">Worker's Attendances</h4> 
                    <table id="attendances">
                        <thead>
                            <tr>
                                <th>Time In</th>
                                <th>Status</th>
                                <th>Time Out</th>
                                <th>Period</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="attendanceData">
                            <tr>
                                <td>10:30 a.m.</td>
                                <td>10:30 p.m.</td>
                                <td>Nov. 8, 2024</td>
                                <td>Morning</td>
                                <td style="color: red;">Late</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'javascript/function.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'javascript/foreman_attendance.js' %}"></script>
    </body>
</html>